/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/

/* Header navbar pour écran d'ordinateur */
.header-navbar {
  height: 79px; /* Hauteur de la navbar */
  display: flex; /* Utilisation de Flexbox pour la disposition */
  justify-content: space-between; /* Espacement égal entre les éléments */
}

/* Navigation pour écran d'ordinateur */
.header-nav {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  width: 344px; /* Largeur de la navigation */
  height: 35px; /* Hauteur de la navigation */
  justify-content: space-evenly; /* Espacement égal entre les éléments */
}

/* Logo du site pour écran d'ordinateur */
.header-logo img {
  width: 61px; /* Largeur du logo */
  height: 19px; /* Hauteur du logo */
}

/* Conteneur du logo pour écran d'ordinateur */
.header-logo {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
}

/* Éléments de navigation pour écran d'ordinateur */
.header-nav-item {
  display: flex; /* Utilisation de Flexbox pour la disposition */
}

/* Style de survol pour les éléments de navigation */
.header-nav-item:hover {
  color: var(--main-color); /* Changer la couleur au survol */
  border-top: 2px solid var(--main-color); /* Ajouter une bordure en haut au survol */
}

/* Alignement du texte des éléments de navigation */
.header-nav-item-text {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  align-self: flex-end; /* Aligner en bas */
}

/* Section principale du header pour écran d'ordinateur */
.header-main-section {
  margin: 30px 0 35px 0; /* Marges autour de la section */
  display: flex; /* Utilisation de Flexbox pour la disposition */
  flex-direction: column; /* Disposition en colonne */
  justify-content: space-between; /* Espacement égal entre les éléments */
  height: 281px; /* Hauteur de la section */
  max-width: 100%; /* Largeur maximale de 100% */
}

/* Texte principal du header pour écran d'ordinateur */
.header-main-text {
  height: 53px; /* Hauteur du texte principal */
}

/* Titre principal du header pour écran d'ordinateur */
.header-main-text h1 {
  font-size: 22px; /* Taille de la police */
  font-weight: bold; /* Poids de la police en gras */
  overflow-wrap: break-word; /* Permet le retour à la ligne */
  margin-bottom: 8px; /* Marge inférieure */
}

/* Barre de recherche dans le header pour écran d'ordinateur */
.header-searchbar {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  width: 377px; /* Largeur de la barre de recherche */
  height: 49px; /* Hauteur de la barre de recherche */
  justify-content: center; /* Centrer les éléments horizontalement */
  align-items: center; /* Centrer les éléments verticalement */
  text-align: center; /* Centrer le texte */
  border: 1px solid var(--main-bg-color); /* Bordure de la barre de recherche */
  border-radius: 15px; /* Coins arrondis */
}

/* Icône de localisation dans la barre de recherche */
.header-searchbar-pin {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 49px; /* Hauteur de l'icône */
  width: 50px; /* Largeur de l'icône */
  background-color: var(--main-bg-color); /* Couleur de fond */
  border-top-left-radius: 15px; /* Coin supérieur gauche arrondi */
  border-bottom-left-radius: 15px; /* Coin inférieur gauche arrondi */
}

/* Style de l'icône dans la barre de recherche */
.header-searchbar-pin .fa-solid {
  width: 14px; /* Largeur de l'icône */
  height: 18px; /* Hauteur de l'icône */
  color: black; /* Couleur de l'icône */
}

/* Champ de saisie de la barre de recherche */
.header-searchbar input[type="text"] {
  position: relative; /* Position relative pour ajustement */
  left: 24px; /* Décalage à gauche */
  font-size: 18px; /* Taille de la police */
  font-weight: bold; /* Poids de la police en gras */
  border: none; /* Pas de bordure */
  outline: none; /* Pas de contour */
  overflow: hidden; /* Masquer le dépassement */
  z-index: 0; /* Niveau de superposition */
}

/* Conteneur du champ de saisie dans la barre de recherche */
.header-searchbar-city {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  align-items: center; /* Centrer verticalement */
  width: 197px; /* Largeur du conteneur */
  height: 49px; /* Hauteur du conteneur */
  flex-grow: 1; /* Croissance flexible pour occuper tout l'espace disponible */
}

/* Bouton de recherche dans la barre de recherche */
.header-searchbar-search {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  width: 132px; /* Largeur du bouton */
  height: 49px; /* Hauteur du bouton */
  color: white; /* Couleur du texte */
  background-color: var(--main-color); /* Couleur de fond */
  text-align: center; /* Centrer le texte */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  border-top-right-radius: 15px; /* Coin supérieur droit arrondi */
  border-bottom-right-radius: 15px; /* Coin inférieur droit arrondi */
  z-index: 2; /* Niveau de superposition */
  cursor: pointer; /* Curseur en forme de main pour indiquer l'interactivité */
  transition: opacity 0.2s ease; /* Transition douce de l'opacité */
}

/* Effet de survol pour le bouton de recherche */
.header-searchbar-search:hover {
  opacity: 0.75; /* Réduire l'opacité au survol pour indiquer l'interactivité */
}

/* Texte du bouton de recherche */
.header-searchbar-search h2 {
  font-size: 18px; /* Taille de la police */
}

/* Icône du bouton de recherche, cachée par défaut */
.fa-seventeen {
  position: absolute; /* Position absolue pour cacher l'élément */
  visibility: hidden; /* Masquer l'élément */
}

/* Conteneur des filtres dans le header pour écran d'ordinateur */
.header-filters {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  flex-direction: row; /* Disposition en ligne */
  align-items: center; /* Centrer verticalement */
  width: 758px; /* Largeur du conteneur de filtres */
  height: 50px; /* Hauteur du conteneur de filtres */
  gap: 15px; /* Espace entre les éléments */
  cursor: pointer; /* Curseur en forme de main pour indiquer l'interactivité */
}

/* Conteneur des titres et des options des filtres */
.header-filters-title,
.header-filters-options {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  gap: 15px; /* Espace entre les éléments */
}

/* Titre des filtres */
.header-filters h2 {
  font-size: 18px; /* Taille de la police */
}

/* Rangée des filtres */
.header-filters-row {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  flex-direction: row; /* Disposition en ligne */
  justify-content: space-evenly; /* Espacement égal entre les éléments */
  align-items: center; /* Centrer verticalement */
  border: 2px solid #d9d9d9; /* Bordure grise */
  border-radius: 25px; /* Coins arrondis */
  height: 50px; /* Hauteur de la rangée */
}

/* Texte des options des filtres */
.header-filters-options h2 {
  padding: 15px 19px 15px 0; /* Espacement autour du texte */
  white-space: nowrap; /* Empêcher le retour à la ligne */
  font-size: 17px; /* Taille de la police */
}

/* Effet de survol pour les options des filtres */
.header-filters-row:hover {
  background-color: #deebff; /* Changer la couleur de fond au survol */
  transition: 0.15s; /* Transition douce pour le changement de couleur */
}

/* Icône des options des filtres */
.fa-twentytwo {
  font-size: 22px; /* Taille de l'icône */
  padding: 14px 10px 14px 19px; /* Espacement autour de l'icône */
}

/* Ajustement des options des filtres */
.header-filters-row:nth-child(2) {
  padding-left: 4px; /* Ajustement du padding pour la deuxième option */
}

/* Conteneur de l'info bulle dans le header pour écran d'ordinateur */
.header-tooltip {
  height: 24px; /* Hauteur de l'info bulle */
  display: flex; /* Utilisation de Flexbox pour la disposition */
  align-items: center; /* Centrer verticalement */
}

/* Icône de l'info bulle */
.header-tooltip-icon {
  height: 24px; /* Hauteur de l'icône */
  width: 24px; /* Largeur de l'icône */
  min-width: 24px; /* Largeur minimale de l'icône */
  border: 1px solid #d9d9d9; /* Bordure grise */
  border-radius: 50%; /* Bordure arrondie */
  display: flex; /* Utilisation de Flexbox pour la disposition */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

/* Texte de l'info bulle */
.header-tooltip p {
  padding-left: 10px; /* Espacement à gauche du texte */
}

/* Style de l'icône de l'info bulle */
.mini-icon {
  font-size: 10px; /* Taille de l'icône */
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%; /* Largeur de 65% */
  display: flex; /* Utilisation de Flexbox pour la disposition */
  flex-direction: column; /* Disposition en colonne */
  gap: 30px; /* Espace entre les éléments */
}

.hebergements .section-title {
  font-size: 22px; /* Taille de la police */
}

.hebergements .section-title:nth-child(3) {
  font-size: 18px; /* Taille de la police pour le troisième enfant */
}

.hebergements-cards {
  display: grid; /* Utilisation de Grid Layout pour la disposition */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); /* Trois colonnes flexibles */
  gap: 30px; /* Espace entre les éléments */
}

.hebergements-card {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  flex-direction: column; /* Disposition en colonne */
  background-color: white; /* Fond blanc */
  border-radius: 20px; /* Coins arrondis de 20px */
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* Ombre portée */
  transition: 0.2s ease-out; /* Transition douce */
}

.hebergements-card:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2); /* Ombre portée plus intense au survol */
}

.hebergements-cards img {
  height: 124px; /* Hauteur des images */
  padding: 4px; /* Padding de 4px */
  border-top-left-radius: 20px; /* Coin supérieur gauche arrondi */
  border-top-right-radius: 20px; /* Coin supérieur droit arrondi */
  object-fit: cover; /* Redimensionne les images pour couvrir leur conteneur */
  width: 100%; /* Largeur des images */
}

.hebergements-card-content {
  padding-left: 12px; /* Padding à gauche de 12px */
  margin-top: 4px; /* Marge supérieure de 4px */
  margin-bottom: 15px; /* Marge inférieure de 15px */
  height: 64.25px; /* Hauteur du contenu */
  display: flex; /* Utilisation de Flexbox pour la disposition */
  flex-direction: column; /* Disposition en colonne */
  justify-content: space-between; /* Espacement égal entre les éléments */
}

.hebergements-card-title-name {
  font-size: 16px; /* Taille de la police */
}

.hebergements-card-subtitle-name {
  font-size: 14px; /* Taille de la police */
}

.hebergements-card-rating {
  width: 81px; /* Largeur du conteneur de la note */
  height: 13.25px; /* Hauteur du conteneur de la note */
  display: flex; /* Utilisation de Flexbox pour la disposition */
  align-items: center; /* Centrer verticalement */
  justify-content: flex-start; /* Aligner à gauche */
}

.hebergements-card-rating .fa-star {
  font-size: 13.25px; /* Taille de l'icône */
  width: 14.29px; /* Largeur de l'icône */
}

.section-title {
  margin: 0; /* Supprime les marges par défaut */
  font-size: 22px; /* Taille de la police */
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/

.activities-marseille {
  width: 100%; /* Largeur de 100% */
  text-align: left; /* Alignement du texte à gauche */
  margin-top: 20px; /* Marge supérieure de 20px */
  margin-bottom: 60px; /* Marge inférieure de 60px */
}

.activities-marseille h2 {
  font-size: 24px; /* Taille de la police */
  color: #000000; /* Couleur du texte */
  padding: 30px 0px 25px 30px; /* Padding en haut, en bas et à gauche */
}

.activity-cards {
  display: flex; /* Utilisation de Flexbox pour la disposition */
  justify-content: space-around; /* Espacement égal entre les éléments */
  gap: 10px; /* Espace entre les éléments */
  flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
}

.activity-card {
  flex-basis: 22%; /* Largeur de base de 22% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
  border-radius: 20px; /* Coins arrondis de 20px */
  overflow: hidden; /* Masque le dépassement du contenu */
}

.activity-card img {
  width: 297.5px; /* Largeur des images */
  height: 380px; /* Hauteur des images */
  display: block; /* Affichage en bloc */
}

.activity-card p {
  font-size: 16px; /* Taille de la police */
  font-weight: 700; /* Poids de la police en gras */
  color: #000000; /* Couleur du texte */
  padding: 0px 0px 0px 20px; /* Padding à gauche de 20px */
  margin-top: 15px; /* Marge supérieure de 15px */
  margin-bottom: 15px; /* Marge inférieure de 15px */
}

/****** Footer ***********/

.footer {
  background-color: #f8f8f8; /* Couleur de fond du footer */
  padding: 20px; /* Espacement interne du footer */
  display: flex; /* Crée un conteneur flex */
  justify-content: space-around; /* Distribution uniforme des sections */
  flex-wrap: wrap; /* Permet d'enrouler les éléments si nécessaire */
  font-family: "Raleway", sans-serif; /* Police générale pour le footer */
}

.footer-section {
  flex: 1 1 30%; /* Occupe 30% du conteneur avec possibilité d'expansion/réduction */
  margin-bottom: 20px; /* Espacement entre les sections du footer */
}

.footer h4 {
  font-size: 18px; /* Taille du titre */
  color: #333; /* Couleur du titre */
  margin-bottom: 10px; /* Espace sous le titre */
}

.footer p {
  margin: 0; /* Réinitialise la marge par défaut */
  padding: 5px 0; /* Espacement interne vertical */
}

.footer p a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: inherit; /* Hérite de la couleur du texte environnant */
}

.footer p a:hover {
  text-decoration: underline; /* Souligne les liens au survol */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    max-width: 100%; /* Largeur maximale de 100% */
    height: 100%; /* Hauteur de 100% */
  }

  /* Marges supplémentaires pour la navbar */
  .header-navbar {
    margin-bottom: 30px; /* Ajouter une marge inférieure */
  }

  /* Ajustement de la hauteur de la section principale du header */
  .header-main-section {
    height: 322px; /* Augmenter la hauteur de la section principale */
  }

  /* Réorganisation des filtres pour tablette */
  .header-filters {
    display: flex; /* Utilisation de Flexbox pour la disposition */
    align-items: flex-start; /* Aligner les éléments en haut */
    flex-direction: column; /* Disposition en colonne */
    height: 91px; /* Hauteur du conteneur de filtres */
  }

  /* Ajustement des titres des filtres pour tablette */
  .header-filters-title {
    width: 100%; /* Largeur complète */
    position: relative; /* Position relative */
    top: 0; /* Pas de décalage vertical */
    left: 0; /* Pas de décalage horizontal */
  }

  /* Ajustement des options des filtres pour tablette */
  .header-filters-options {
    width: 668px; /* Largeur du conteneur d'options de filtres */
  }

  /* Ajustement du texte des options des filtres pour tablette */
  .header-filters-options h2 {
    font-size: 16px; /* Taille de la police */
    padding: 15.5px 19px 15.5px 0; /* Espacement autour du texte */
  }

  .hebergements-and-populaires {
    flex-direction: column; /* Disposition en colonne */
  }

  .hebergements {
    width: 100%; /* Largeur de 100% */
  }

  .populaires {
    width: 100%; /* Largeur de 100% */
    margin-top: 50px; /* Marge supérieure de 50px */
  }

  .populaires-cards {
    display: flex; /* Utilisation de Flexbox pour la disposition */
    flex-direction: row; /* Disposition en ligne */
    justify-content: space-between; /* Espacement égal entre les éléments */
  }

  .populaires-cards a {
    width: 30%; /* Largeur de 30% */
  }

  .populaires-cards .card-title {
    font-size: 14px; /* Taille de la police */
  }

  .populaires-cards .card-subtitle {
    font-size: 13px; /* Taille de la police */
  }

  .activity-card img {
    width: 100%; /* Largeur des images */
    height: 210px; /* Hauteur des images */
    display: block; /* Affichage en bloc */
    object-fit: cover; /* Redimensionne les images pour couvrir leur conteneur */
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0; /* Supprime le padding */
    margin: 0; /* Supprime les marges */
  }

  /* Réorganisation de la navbar pour mobile */
  .header-navbar {
    height: 115px; /* Augmenter la hauteur de la navbar */
    display: grid; /* Utilisation de Grid Layout */
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes de largeur égale */
    grid-template-rows: 2fr 1fr 1fr; /* Trois rangées avec des hauteurs différentes */
    justify-content: center; /* Centrer les éléments horizontalement */
    position: relative; /* Position relative */
    margin-bottom: 30px; /* Ajouter une marge inférieure */
  }

  /* Réorganisation de la navigation pour mobile */
  .header-nav {
    display: flex; /* Utilisation de Flexbox pour la disposition */
    width: 100%; /* Largeur complète */
    max-width: 767px; /* Largeur maximale */
    grid-column: 1 / span 3; /* Occuper les trois colonnes */
    justify-content: space-around; /* Espacement égal entre les éléments */
  }

  /* Positionnement du logo pour mobile */
  .header-logo {
    grid-column: 2; /* Occuper la deuxième colonne */
    grid-row: span 2; /* Occuper deux rangées */
  }

  /* Suppression de la bordure de survol pour les éléments de navigation sur mobile */
  .header-nav-item:hover {
    border-top: none; /* Pas de bordure en haut au survol */
  }

  /* Alignement du texte des éléments de navigation sur mobile */
  .header-nav-item-text {
    align-self: flex-start; /* Aligner en haut */
  }

  /* Ajustement de la section principale du header pour mobile */
  .header-main-section {
    padding: 0 20px; /* Ajout de padding à gauche et à droite */
    margin-bottom: 0; /* Pas de marge inférieure */
    display: flex; /* Utilisation de Flexbox pour la disposition */
    flex-direction: column; /* Disposition en colonne */
    height: 432px; /* Augmenter la hauteur de la section principale */
    max-width: 100%; /* Largeur maximale de 100% */
  }

  /* Ajustement de la hauteur du texte principal pour mobile */
  .header-main-text {
    height: 79px; /* Augmenter la hauteur du texte principal */
  }

  /* Ajustement de la taille du titre principal pour mobile */
  .header-main-text h1 {
    font-size: calc(1.12rem + 0.5vw); /* Taille de la police responsive */
  }

  /* Ajustement de la taille du sous-titre pour mobile */
  .header-subline {
    font-size: calc(0.96rem + 0.05vw); /* Taille de la police responsive */
  }

  /* Réorganisation de la barre de recherche pour mobile */
  .header-searchbar {
    width: 100%; /* Largeur complète */
  }

  /* Ajustement du champ de saisie pour mobile */
  .header-searchbar input[type="text"] {
    width: 100%; /* Largeur complète */
    overflow: visible; /* Afficher le dépassement */
  }

  /* Cacher le texte du bouton de recherche pour mobile */
  .header-searchbar-search h2 {
    font-size: 18px; /* Taille de la police */
    position: absolute; /* Position absolue */
    visibility: hidden; /* Masquer l'élément */
  }

  /* Ajustement du bouton de recherche pour mobile */
  .header-searchbar-search {
    width: 49px; /* Réduire la largeur du bouton */
    border-radius: 15px; /* Coins arrondis */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Ajouter une ombre */
  }

  /* Afficher l'icône du bouton de recherche pour mobile */
  .fa-seventeen {
    font-size: 17px; /* Taille de l'icône */
    color: white; /* Couleur de l'icône */
    position: static; /* Position statique */
    visibility: visible; /* Afficher l'élément */
  }

  /* Réorganisation des filtres pour mobile */
  .header-filters {
    height: 161px; /* Augmenter la hauteur des filtres */
    width: 100%; /* Largeur complète */
  }

  /* Ajustement des options des filtres pour mobile */
  .header-filters-options {
    display: grid; /* Utilisation de Grid Layout */
    grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
    grid-template-rows: 1fr 1fr; /* Deux rangées de hauteur égale */
    row-gap: 20px; /* Espace entre les rangées */
    column-gap: 10px; /* Espace entre les colonnes */
    width: 100%; /* Largeur complète */
  }

  /* Ajustement du texte des options des filtres pour mobile */
  .header-filters-options h2 {
    font-size: 14px; /* Taille de la police */
    padding-top: max(17px, 34%); /* Espacement en haut */
    padding-bottom: max(17px, 34%); /* Espacement en bas */
  }

  /* Ajustement du padding des icônes pour mobile */
  .fa-twentytwo {
    padding: 8.09% 5.78% 8.09% 11.04%; /* Espacement autour de l'icône */
  }

  /* Ajustement du padding pour la deuxième option des filtres pour mobile */
  .header-filters-row:nth-child(2) {
    padding-left: 0; /* Pas de padding à gauche */
    padding-right: 18.5px; /* Ajustement du padding à droite */
  }

  /* Ajustement de la hauteur de l'info bulle pour mobile */
  .header-tooltip {
    height: 38px; /* Augmenter la hauteur de l'info bulle */
    width: 100%; /* Largeur complète */
  }

  .hebergements {
    gap: 15px; /* Espace entre les éléments */
  }

  .hebergements-and-populaires section {
    background-color: white; /* Fond blanc pour les sections */
  }

  .hebergements-and-populaires {
    display: flex; /* Utilisation de Flexbox pour la disposition */
    flex-direction: column-reverse; /* Disposition en colonne inversée */
    height: auto; /* Hauteur automatique */
  }

  .hebergements-cards {
    display: grid; /* Utilisation de Grid Layout pour la disposition */
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Colonnes flexibles */
    gap: 15px; /* Espace entre les éléments */
  }

  .populaires {
    display: flex; /* Utilisation de Flexbox pour la disposition */
    flex-direction: column; /* Disposition en colonne */
    width: 100%; /* Largeur de 100% */
    background-color: #f2f2f2 !important; /* Couleur de fond importante */
  }

  .populaires-cards {
    display: grid; /* Utilisation de Grid Layout pour la disposition */
    grid-template-columns: 1fr; /* Une seule colonne */
  }

  .populaires-card {
    margin-top: 15px; /* Marge supérieure de 15px */
    transition: box-shadow 0.3s; /* Transition douce de l'ombre */
  }

  .populaires-cards a {
    width: 100%; /* Largeur de 100% */
  }

  .activities-marseille {
    width: 100%; /* Utiliser toute la largeur du conteneur parent */
    padding: 30px 0px 0px 0px; /* Padding spécifié */
    gap: 15px; /* Espace entre les éléments */
    opacity: 1; /* Assurer la visibilité */
    margin-left: 0; /* Aligner à gauche */
  }

  .activity-cards {
    display: block; /* Afficher les cartes les unes sous les autres */
    padding-left: 30px; /* Aligner avec le titre */
  }

  .activity-card {
    margin-bottom: 20px; /* Ajouter un espace entre les cartes */
    width: 90%; /* Taille fixe spécifiée */
  }

  .activity-card img {
    width: 100%; /* Taille fixe spécifiée */
    height: 151px; /* Taille fixe spécifiée */
    display: block;
    object-fit: cover; /* Redimensionne les images pour couvrir leur conteneur */
  }

  .footer {
    flex-direction: column; /* Aligne les sections en colonne */
    align-items: flex-start; /* Aligne les sections à gauche */
  }

  .footer-section {
    flex: 1 1 100%; /* Chaque section occupe 100% de la largeur */
    margin-bottom: 20px; /* Espacement entre les sections du footer */
    text-align: left; /* Aligne le texte à gauche */
    padding-left: 0px; /* Ajoute un padding à gauche pour les sections */
  }
}
